.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-item{
    background-color: green;
    color: white;
    border: solid black;
    padding: 20px 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
}

