section{
    border-bottom: 2px solid gray;
    padding: 20px 0;
}

.lista{
    list-style: none;
    padding: 0;
}

.lista li{
    padding: 10px 15px;
    border: 1px solid gray ;
}

.lista li:first-child{
    background-color: rgb(37, 169, 225);
    color: white;
    font-weight: bold;
}

.lista li:last-child{
    background-color: rgb(225, 100, 37);
    color: white;
    font-weight: bold;
}

.lista li:nth-child(even){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:brown
}

.lista li:nth-child(odd){
    border: 2px solid green;
    font-style: italic;
}

/* casi no se usa*/
.lista li:nth-of-type(2){
    color: violet;
}

/* trabajar con cada 3ro*/
.lista-2 li:nth-child(3n){
    color: red
}

/* trabajar desde el 7mo en adelante */

.lista-2 li:nth-child(n+7){
    font-style: italic;
    text-decoration: line-through;
    color: orange
}