article{
    border-bottom: 2px solid orange;
    padding: 20px 0;
    margin-bottom: 20px;
}


.box{
    width: 120px;
    height: 120px;
    background-color: lightblue;
    color: black;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.gris{
    background-color: gray;
}

.relative{
    position: relative;
    top: 30px;
    left: 150px;
}

.box-parent{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: bisque;
    border: grey 3px dashed;
    padding: 13px;
}

.badge{
    position: relative;
    top: 10;
    right: 10;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}